@import "theme-functions";
@import "theme-mixins";

.sort-wrapper {
  @include border(0, 0, 1px, 0);
  padding: 0 25px;
}

.item-wrapper {
  background: get-theme-color(background);
  padding: 25px;
  overflow-y: auto;
  @include scrollbar-defaults();
}
