<div class="yh-widget" fxFlex fxLayout="column">
  <header fxFlex="0 0 auto" fxLayoutAlign="start center">
    <yh-title [level]="4" [title]="'Notifications'"></yh-title>
  </header>
  <div
    class="yh-widget-content"
    fxFlex="1 1 auto"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <span class="indicator"></span>
      <yh-title
        fxFlex
        [level]="4"
        title="John Smith"
        subtitle="Potential High Risk Customer Identified"
      ></yh-title>
      <span class="timestamp">24m ago</span>
    </div>
  </div>
</div>
