<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <yh-title [level]="2" [title]="'Subjects'"></yh-title>
    <yh-button (click)="showLookupDrawer = true">Add Subjects</yh-button>
  </div>
  <yh-divider></yh-divider>
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start start">
    <yh-sar-subject-item
      *ngFor="let subject of subjects"
      [subject]="subject"
    ></yh-sar-subject-item>
    <yh-card *ngIf="subjects.length == 0" [style.width]="'100%'">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <yh-title [level]="2" title="Add Subject"></yh-title>
          <yh-text [secondary]="true"
            >No Subjects have been added to this SAR. Begin by adding
            one.</yh-text
          >
        </div>
        <yh-button>Add Subject</yh-button>
      </div>
    </yh-card>
  </div>
</div>
<yh-drawer
  [visible]="showLookupDrawer"
  [closeOnEscape]="false"
  [showCloseIcon]="false"
  [title]="'Select Subjects'"
  [pad]="false"
  (hide)="showLookupDrawer = false"
  width="800px"
>
  <yh-sar-subject-lookup
    [subjects]="source"
    [selected]="subjects"
  ></yh-sar-subject-lookup>
  <yh-drawer-footer>
    <yh-button (click)="showLookupDrawer = false"> Use Selected </yh-button>
    <yh-button (click)="showLookupDrawer = false"> Cancel </yh-button>
  </yh-drawer-footer>
</yh-drawer>
