<div fxLayout="column" fxLayoutGap="15px">
  <div [formGroup]="fgFilters" fxLayout="row" fxLayoutGap="10px">
    <yh-text-field
      [search]="true"
      [control]="fcFreeText"
      placeholder="Search Cases"
      fxFlex="200px"
    ></yh-text-field>
    <yh-dropdown-field
      [control]="fcType"
      [options]="[]"
      placeholder="Select Type..."
      fxFlex="200px"
    ></yh-dropdown-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
    <yh-case-history-item
      *ngFor="let case of cases"
      [style.width]="'100%'"
      [case]="case"
      [selected]="case == selectedCase"
      (click)="selectCase(case)"
    ></yh-case-history-item>
  </div>
</div>
