<yh-general-layout [pad]="true">
  <yh-general-layout-header title="Case Disposition">
  </yh-general-layout-header>
  <yh-general-layout-content>
    <p-messages severity="info">
      <ng-template pTemplate>
        <div
          fxLayout="row"
          fxLayoutGap="5px"
          fxLayoutAlign="space-between center"
          [style.width]="'100%'"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <fa-icon [icon]="infoIcon"></fa-icon>
            <yh-text [strong]="true"
              >A SAR is currently in progress, do you wish to continue working
              the SAR?</yh-text
            >
          </div>
          <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
            <yh-button>Continue</yh-button>
            <yh-button [danger]="false" [ghost]="true">Abandon</yh-button>
          </div>
        </div>
      </ng-template>
    </p-messages>
    <yh-sar-workflow-drawer [disabled]="true"></yh-sar-workflow-drawer>
  </yh-general-layout-content>
</yh-general-layout>
