<yh-sidebar-layout>
  <yh-sidebar-layout-header title="SAR Details" (close)="handleClose($event)">
  </yh-sidebar-layout-header>

  <div class="content" fxLayout="column" fxLayoutGap="35px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3px">
          <yh-title [level]="3" [title]="sar.name"></yh-title>
        </div>
      </div>
    </div>
    <yh-card [flat]="true" padSize="small">
      <div fxLayout="column" fxLayoutGap="15px">
        <yh-text [bold]="true">Details</yh-text>
        <div fxLayout="column" fxLayoutGap="10px">
          <yh-display-value label="Activity Type" [inline]="true">{{
            sar.activityType
          }}</yh-display-value>
          <yh-display-value label="Amount Involved" [inline]="true"
            >$1,900.00</yh-display-value
          >
          <yh-display-value label="Status" [inline]="true"
            >Open</yh-display-value
          >
          <yh-display-value label="Accepted Status" [inline]="true"
            >N/A</yh-display-value
          >
          <yh-display-value label="Created" [inline]="true"
            >10/10/2022</yh-display-value
          >
          <yh-display-value label="Filed" [inline]="true"
            >10/10/2022</yh-display-value
          >
          <yh-display-value label="New or Continuing" [inline]="true"
            >New</yh-display-value
          >
        </div>
      </div></yh-card
    >
    <yh-card [flat]="true" padSize="small">
      <div fxLayout="column" fxLayoutGap="15px">
        <yh-text [bold]="true">Subjects</yh-text>
        <p-table
          [value]="subjects"
          [scrollable]="true"
          scrollDirection="vertical"
          scrollHeight="200px"
          styleClass="p-datatable-striped p-datatable-sm"
        >
          <ng-template pTemplate="body" let-subject let-columns="columns">
            <tr>
              <td [style.paddingLeft]="'25px'">
                <yh-text [secondary]="true">{{ subject }}</yh-text>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </yh-card>
  </div>
  <yh-sidebar-layout-footer>
    <yh-button>View SAR</yh-button>
  </yh-sidebar-layout-footer>
</yh-sidebar-layout>
