<div class="content" fxLayout="column" fxLayoutGap="25px">
  <yh-text [bold]="true">Backgrounds</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube background"></span>
    <span class="cube background light"></span>
    <span class="cube background medium"></span>
    <span class="cube background dark"></span>
  </div>

  <yh-text [bold]="true">Borders</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube border"></span>
    <span class="cube border light"></span>
    <span class="cube border dark"></span>
  </div>

  <yh-text [bold]="true">Text</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube text"></span>
    <span class="cube text light"></span>
    <span class="cube text dark"></span>
  </div>

  <yh-text [bold]="true">Headers</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube headers"></span>
    <span class="cube headers light"></span>
    <span class="cube headers dark"></span>
  </div>

  <yh-text [bold]="true">State</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube state info"></span>
    <span class="cube state secondary"></span>
    <span class="cube state success"></span>
    <span class="cube state pending"></span>
    <span class="cube state warn"></span>
    <span class="cube state danger"></span>
  </div>

  <yh-text [bold]="true">Brand</yh-text>
  <div fxLayout="row" fxLayoutGap="15px">
    <span class="cube brand primary"></span>
    <span class="cube brand primary-light"></span>
    <span class="cube brand secondary"></span>
    <span class="cube brand secondary-light"></span>
    <span class="cube brand secondary-dark"></span>
  </div>
</div>
