@import "theme-functions";
@import "theme-mixins";

:host {
  @include full-height();
}
.question-content {
  background: get-theme-color(background);
  height: 100%;
  overflow-y: auto;
  padding: 25px 15px;
  @include scrollbar-defaults();
}
.filter-wrapper {
  padding: 0 25px;
}

.edit-icon {
  display: none;
}

yh-card:hover {
  .edit-icon {
    display: inline-block;
  }
}
