<div
  [formGroup]="fgAddress"
  fxLayout="column"
  fxLayoutGap="15px"
  fxLayoutAlign="start start"
>
  <yh-title [level]="3" title="Add Address"></yh-title>
  <div fxLayout="column" fxLayoutGap="5px" style="width: 100%">
    <yh-dropdown-field label="Type" [control]="fcType" [required]="true">
    </yh-dropdown-field>
    <yh-checkbox
      label="Unknown"
      [control]="fcTypeUnknown"
      [small]="true"
    ></yh-checkbox>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" style="width: 100%">
    <yh-text-field label="Address" [control]="fcAddress" [required]="true">
    </yh-text-field>
    <yh-checkbox
      label="Unknown"
      [control]="fcAddressUnknown"
      [small]="true"
    ></yh-checkbox>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" style="width: 100%">
    <div fxFlex="0 0 48%">
      <yh-text-field label="Address Line 2" [control]="fcAddressTwo">
      </yh-text-field>
    </div>
    <div fxFlex="0 0 48%">
      <yh-text-field label="Address Line 3" [control]="fcAddressThree">
      </yh-text-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="5px" style="width: 100%">
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 48">
      <yh-text-field label="City" [control]="fcCity" [required]="true">
      </yh-text-field>
      <yh-checkbox
        label="Unknown"
        [control]="fcCityUnknown"
        [small]="true"
      ></yh-checkbox>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 48%">
      <yh-dropdown-field
        label="State"
        [options]="stateOptions"
        [control]="fcState"
        [required]="true"
      >
      </yh-dropdown-field>
      <yh-checkbox
        label="Unknown"
        [control]="fcStateUnknown"
        [small]="true"
      ></yh-checkbox>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="5px" style="width: 100%">
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 48%">
      <yh-text-field label="Zip Code" [control]="fcZipCode" [required]="true">
      </yh-text-field>
      <yh-checkbox
        label="Unknown"
        [control]="fcZipCodeUnknown"
        [small]="true"
      ></yh-checkbox>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 48%">
      <yh-dropdown-field
        label="Country"
        [options]="countryOptions"
        [control]="fcCountry"
        [required]="true"
      >
      </yh-dropdown-field>
      <yh-checkbox
        label="Unknown"
        [control]="fcCountryUnknown"
        [small]="true"
      ></yh-checkbox>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    style="width: 100%"
  >
    <yh-button (click)="saveAddress()">Add</yh-button>
    <yh-button (click)="saveAddress()" [ghost]="true"
      >Add & Add Another</yh-button
    >
    <yh-button (click)="cancelAddress()" [ghost]="true" [warning]="true"
      >Cancel</yh-button
    >
  </div>
</div>
