<div
  [formGroup]="fgAddress"
  fxLayout="column"
  fxLayoutGap="15px"
  fxLayoutAlign="start start"
>
  <yh-title [level]="3" title="Add IP Address"></yh-title>
  <yh-text-field
    label="IP Address"
    [control]="fcAddress"
    [required]="true"
    placeholder="255.255.255.255"
  >
  </yh-text-field>
  <yh-date-field label="Date & Time" [control]="fcDate" [showTime]="true">
  </yh-date-field>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    style="width: 100%"
  >
    <yh-button (click)="saveItem()">Add</yh-button>
    <yh-button (click)="cancelItem()" [ghost]="true" [warning]="true"
      >Cancel</yh-button
    >
  </div>
</div>
