<yh-general-layout [pad]="false">
  <yh-general-layout-header [title]="'Scenarios'">
    <yh-actions style="width: 100%"><yh-button>Add New</yh-button></yh-actions>
  </yh-general-layout-header>
  <yh-general-layout-content>
    <p-table
      [value]="scenarios"
      dataKey="id"
      selectionMode="single"
      [(selection)]="selectedScenario"
      [scrollable]="true"
      (onRowSelect)="handleRowSelected($event)"
      (onRowUnselect)="handleRowUnselected($event)"
      scrollHeight="flex"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
            [formGroup]="fgFilters"
            style="padding-left: 35px"
          >
            <yh-text-field
              fxFlex="200px"
              [control]="fcFreeText"
              placeholder="Search by Keyword..."
              [search]="true"
            ></yh-text-field>
            <yh-dropdown-field
              fxFlex="200px"
              [control]="fcType"
              [options]="[]"
              placeholder="Select Type..."
            ></yh-dropdown-field>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="padding-left: 50px">&nbsp;</th>

          <th style="flex: 100%">Name</th>
          <th style="flex: 150px">Type</th>
          <th style="flex: 200px">Activity Type</th>
          <th style="flex: 175px">Schedule</th>
          <th style="flex: 200px">Updated On</th>
          <th style="flex: 200px">Updated By</th>
          <th style="flex: 0 0 75px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client let-expanded="expanded">
        <tr [pSelectableRow]="client">
          <td style="padding-left: 50px">
            <yh-risk-indicator
              [low]="client.enabled"
              [high]="!client.enabled"
            ></yh-risk-indicator>
          </td>

          <td style="flex: 100%">
            <div fxLayout="column" fxLayoutGap="3px">
              <yh-text [secondary]="false">{{ client.name }}</yh-text>

              <yh-text [small]="true" [secondary]="true"
                >ACH Credit, ATM, On Us, ACH Debit</yh-text
              >
            </div>
          </td>
          <td style="flex: 150px">
            <yh-text [secondary]="true">{{ client.type }}</yh-text>
          </td>
          <td style="flex: 200px">
            <yh-text [secondary]="true">{{ client.activityType }}</yh-text>
          </td>
          <td style="flex: 175px">
            <yh-text [secondary]="true">{{ client.schedule }}</yh-text>
          </td>

          <td style="flex: 200px">
            <yh-text [secondary]="true">{{
              client.updatedOn | date: "shortDate"
            }}</yh-text>
          </td>
          <td style="flex: 200px">
            <yh-text [secondary]="true">{{ client.updatedBy }}</yh-text>
          </td>
          <td style="flex: 0 0 75px">
            <yh-button
              [iconButton]="true"
              icon="pi pi-ellipsis-h"
              [bordered]="true"
              [secondary]="true"
              (click)="toggleOptionsMenu($event)"
            ></yh-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <div fxLayout="column" fxLayoutGap="15px">
    <yh-scenario-ach-credits></yh-scenario-ach-credits>
      <yh-scenario-ach-debits></yh-scenario-ach-debits> 
    </div> -->
  </yh-general-layout-content>
</yh-general-layout>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
