@import "theme-functions";
@import "theme-mixins";

.content {
  height: 100%;
  .content-row {
    height: inherit;
  }
}
.tree-wrapper {
  @include border-radius();
  overflow-y: hidden;
  &:first-child {
    @include border(0, 1px, 0, 0);
  }

  header {
    padding-left: 45px;
    display: none;
  }
}

p-tabMenu {
  display: block;
  margin-top: 25px;
}
