<yh-general-layout>
  <yh-general-layout-header title="Transactions">
    <yh-actions>
      <div [formGroup]="fgFilters" fxLayout="row" fxLayoutGap="10px">
        <yh-text-field
          [search]="true"
          placeholder="Filter Transactions"
          [control]="fcFreeText"
        ></yh-text-field>
        <yh-dropdown-field
          placeholder="Select Branch"
          [control]="fcBranch"
        ></yh-dropdown-field>
        <yh-dropdown-field
          placeholder="Select Type"
          [control]="fcType"
        ></yh-dropdown-field>
      </div>
    </yh-actions>
  </yh-general-layout-header>
  <yh-general-layout-content>
    <div style="height: calc(100vh - 149px)">
      <p-table
        [value]="transactions"
        [columns]="scrollableColumns"
        [scrollable]="true"
        [virtualScroll]="true"
        [virtualRowHeight]="40"
        scrollHeight="flex"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction let-columns="columns">
          <tr>
            <td>
              <fa-icon
                class="unflagged"
                [icon]="unflaggedIcon"
                *ngIf="!transaction.flagged"
              ></fa-icon>
              <fa-icon
                class="flagged"
                [icon]="flaggedIcon"
                *ngIf="transaction.flagged"
              ></fa-icon>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.created | date: "shortDate"
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.account }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.batch }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.sequence }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.effective | date: "shortDate"
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.description
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.debit | currency
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.credit | currency
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.medium }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{
                transaction.occured | date: "shortDate"
              }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.serial }}</yh-text>
            </td>
            <td>
              <yh-text [secondary]="true">{{ transaction.code }}</yh-text>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </yh-general-layout-content>
</yh-general-layout>
