<div fxLayout="column" fxLayoutGap="15px" [formGroup]="fgExternalAccount">
  <yh-text [bold]="true">Add External Account</yh-text>
  <div [fxLayout]="inline ? 'row' : 'column'" fxLayoutGap="10px">
    <yh-text-field
      label="Account Title"
      [required]="true"
      [control]="fcTin"
      [fxFlex]="inline ? '48%' : '100%'"
    ></yh-text-field>
    <div fxLayout="column" fxLayoutGap="5px" [fxFlex]="inline ? '48%' : '100%'">
      <yh-text-field
        label="Account Number"
        [required]="true"
        [control]="fcAccountNumber"
      ></yh-text-field>
    </div>
  </div>
  <div [fxLayout]="inline ? 'row' : 'column'" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutGap="5px" [fxFlex]="inline ? '48%' : '100%'">
      <yh-text-field
        label="Financial Institution Name"
        [required]="true"
        [control]="fcInstitutionTitle"
      ></yh-text-field>
    </div>
    <yh-text-field
      label="Financial Institution TIN"
      [required]="true"
      [control]="fcTin"
      [fxFlex]="inline ? '48%' : '100%'"
    ></yh-text-field>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutGap="5px">
      <yh-checkbox
        label="Account Closed"
        [small]="true"
        [control]="fcClosed"
      ></yh-checkbox>
      <yh-checkbox
        label="Non-US Financial Institution"
        [small]="true"
        [control]="fcNonUsFinancialInstitution"
      ></yh-checkbox>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    style="width: 100%"
  >
    <yh-button>Add</yh-button>
    <yh-button [ghost]="true" [warning]="true">Cancel</yh-button>
  </div>
</div>
